.navbar-light
	.navbar-nav
		.nav-link
				color: #007bff
				-webkit-box-sizing: border-box 
				-moz-box-sizing: border-box
				-box-sizing: border-box
				border-bottom: 3px solid #fff
				transition: all ease-out 0.1s
				&:hover
					display: block
					border-bottom: 3px solid #007bff
					transition: all ease-out 0.1s











/*медиа запросы*/
@media screen and (max-width: 1280px)
  .header__form
    display: none
@media screen and (max-width: 550px)
  .header__logo__img
    text-align: centr