@font-face
	font-family: Fashion Boutique
	src: url('../fonts/11421.ttf')

@font-face
	font-family:Cuphead Memphis Medium
	src: url('../fonts/11613.ttf')

.logo__item 
	font-family: Fashion Boutique, sans-serif
	font-size: 2.5em
	font-weight: 600
.contact__item
	display: flex
	i
		padding-right: 5px
		
	div
		margin-left: 20px
	a
		color: #fff
		&:hover
			color: #039be5
.logo__container
	margin-top: 10px
.search__btn
	margin-top: 20px
.time__work
	margin-top: 20px
.caption
	color red
.card-action
	i
		padding-right: 5px
.header
	font-family: 'Hermes', arial
	color:#039be5
	font-weight: 500
.rub
	font-family: arial
	vertical-align: middle
	border-bottom: 1px solid
	line-height: 5px
	display: inline-block
	width: 0.4em

.section__cart
	h3
		font-family: 'Europe Normal', arial
.card 
	.card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating)
  		color: red

.card 
	.card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating)
		&:hover
  			color: #000;
.modal__header
	width: 40%
.row__modal__header
	margin-bottom: 0px